@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --darkGreen: #00414F;
    --lightGreen: #62BCBD;
    --yellow: #F7BD01;
    --lightPink: #FFD2C2;
    --darkPink: #F91866;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--darkGreen);
    padding-bottom: 2rem;
}

h1{
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
}

#main {
    background-color: var(--lightPink);
    height: 45rem;
    width: 40rem;
    margin: auto;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#dev{
   position: absolute;
   top: 0.5rem;
}

#gameBoard {
    width: auto;
    margin-bottom: 2rem;
}
#gameBoard div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
#gameBoard .tile {
    background-color: white;
    border-radius: 10px;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-size: 2rem;
}

#alphabet {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#alphabet button {
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background-color: var(--darkGreen);
    margin: 0.3rem;
    cursor: pointer;
}
#check, #delete{
    width: 30% !important;
}

#feedback {
    height: 2rem;
}

.green {
    color: #ffffff;
    background-color: var(--lightGreen) !important;
    border:none !important;
}

.yellow {
    color: #ffffff;
    background-color: var(--yellow) !important;
    border:none !important;
}
.red {
    color: #ffffff;
    background-color: var(--darkPink) !important;
    border:none !important;
}

#options button{
    width: 15vw;
    height: 3rem;
    margin-left: 42.5vw;
    margin-top: 3vh;
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    color: var(--darkGreen);
    border-radius: 15px;
}

#modal{
    width: 40rem;
    height: 10rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: var(--darkGreen);
    font-size: 1rem;
    font-weight: bold;
}
#modal button{
    width: 25vw;
    height: 3rem;
    background-color: var(--darkGreen);
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    margin-top: 2rem;
    cursor: pointer;
}